{% render 'partials/head.liquid' %}

<header>
  <nav class="mainCard">
    <div class="hvaLogo">
      <img src="images/hvalogo.png" alt="" class="logo">
      <h4>Amsterdam Uneversity of Applied Sciences</h4>
    </div>
    <article class="cardContent">
      <div class="cardText">
        <h3>Name</h3>
        <p>{{ person.name }}</p>
        <h3>Studentnumber</h3>
        <p>{{ person.custom.studentnumber }}</p>
      </div>
      <div class="cardImage">
        <img src="images/ikpic.jpg" alt="" class="photo">
      </div>
    </article>
  </nav>
</header>
<main>
  <section class="mainInfo">
    <h1>Stuff about me</h1>
    <ul>
      <li>
        <h2>Hobby's</h2>
        <p>{{ person.custom.hobby }}</p>
      </li>
      <li>
        <h2>Personal</h2>
        <p>{{ person.custom.doublepersonal }}</p>
      </li>
      <li>
        <h2>Work</h2>
        <p>{{ person.custom.work }}</p>
      </li>
    </ul>
    <button><a href = "{{person.custom.shamelessplug}}">My Links</a></button>
  </section>
</main>

{% render 'partials/foot.liquid' %}
