<meta http-equiv="refresh" content="1"> <!-- Verwijder dit dit is puur voor een test en refreshed constant de html -->
<h1>Data-Driven Web</h1>
<p>My name is {{ person.name }}</p>
<p>Today's date is (european time) {{ 'now' | date: "%d-%m-%Y" }} and the exact time is {{ 'now' | date: "%H:%M:%S"}}</p>
<p>I am born on {{person.birthdate | date: "%d-%m-%Y"}}</p>
<h2>A couple of cool things about me</h2>
<p>My hobby's are: {{person.custom.hobby}}</p>
<p>Something personal about me: {{person.custom.personal}}</p>
<p>Something extra about me: {{person.custom.doublepersonal}}</p>
<p>My work: {{person.custom.work}}</p>
<p><a href = "{{person.custom.shamelessplug}}">Mijn socials</a></p>

<pre>{{ person|json }}</pre>